name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - name: Install Linux system dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libgtk-3-0 \
            libnotify4 \
            libnss3 \
            libxss1 \
            libasound2-plugins \
            libc6-dev \
            libstdc++6 \
            wget

      - name: Install Node dependencies
        run: npm ci --unsafe-perm

      - name: Build app
        run: npm run build

      - name: Fix app-builder permissions (Linux only)
        if: matrix.os == 'ubuntu-latest'
        run: chmod +x node_modules/app-builder-bin/linux/x64/app-builder

      - name: Build and Publish
        run: npm run dist
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ELECTRON_MIRROR: ""
          CSC_NAME: ""
          CSC_LINK: ""
          CSC_KEY_PASSWORD: ""
